# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

#Others
.springBeans
.factorypath
rebel.xml
/bin/
node_modules/

.vscode/

docker/
application.properties

### file
src/main/java/com/lazylearn/api/config/env/WiredEnv.java