<div class="u-text-center u-mt-5">
    <i class="">${personalConnection}</i>
</div>
<div class="row u-mt-10">
    <div class="col-xs-6 u-text-center">
        <div>${phonetic}</div>
        <div class="u-mt-5">
            <audio id="${id}_audio" src="${audioPath}"></audio>
            <button id="${id}_play" class="btn btn-success btn-sm">
                <span class="glyphicon glyphicon-play"></span>
            </button>
            <script>
                $('#${id}_play').click(()=>{
                    $('#${id}_audio')[0].play();
                });
            </script>
        </div>
    </div>
    <div class="col-xs-6 u-text-center">
        <div>
            <img src="${imagePath}" class="vocab-image"><br>
        </div>
    </div>
</div>